<%= stylesheet_link_tag    'anytime' %>
<%= javascript_include_tag 'anytime' %>

<% if @event.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

    <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% unless @event.new_record? %>
  <%= image_tag(@event.image.url, :class => 'full-event-image') %>
<% end %>
<br />
<div class='actions'>
  <%= button_to('Remove image', remove_image_event_path(@event)) %>
</div>
<%= form_for(@event, :html => {:multipart => true}) do |f| %>
  <div class="field">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_time %>
    <%= f.text_field :start_time, :value => @event.start_time.to_s %>
    <button type="button" onclick="$('#event_start_time').val(''); return false;">Clear</button>
  </div>
  <div class="field">
    <%= f.label :end_time %>
    <%= f.text_field :end_time, :value => @event.end_time.to_s %>
    <button type="button" onclick="$('#event_end_time').val(''); return false;">Clear</button>
  </div>
  <div class="field">
    <%= f.label :allow_signup? %>
    <%= f.check_box :allow_signup? %>
  </div>
  <div class="field">
    <%= f.label :allow_teams? %>
    <%= f.check_box :allow_teams? %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do %>
  AnyTime.picker("event_start_time", { format: "%M %d, %Y %I:%i %p"} );
  AnyTime.picker("event_end_time",   { format: "%M %d, %Y %I:%i %p"} );
<% end %>
