<%= stylesheet_link_tag    'scaffold' %>
<%= stylesheet_link_tag    'anytime' %>
<%= javascript_include_tag 'anytime' %>

<%= form_for(@event, :html => {:multipart => true}) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% unless @event.new_record? %>
      <%= image_tag image_event_path(@event) %>
    <% end %>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.text_field :start_time, :value => @event.start_time.to_s %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br />
    <%= f.text_field :end_time, :value => @event.end_time.to_s %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= javascript_tag do -%>
  AnyTime.picker("event_start_time", { format: "%M %d, %Y %I:%i %p"} );
  AnyTime.picker("event_end_time",   { format: "%M %d, %Y %I:%i %p"} );
<% end -%>
