<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <p class="page-title">Listing Events</p>
      <div class="page-section">
        <table class="object-table center-table">
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Location</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Actions</th>
          </tr>

        <% @events.each do |event| %>
          <tr>
            <td><%= image_tag(event.image.url(:thumb), :style => 'float:left') %></td>
            <td><%= event.name %></td>
            <td><%= event.location %></td>
            <td><%= event.start_time %></td>
            <td><%= event.end_time %></td>
            <td>
              <%= button_to('Users', users_event_path(event), :method => :get) if event.allow_signup? %>
              <%= button_to('Teams', event_teams_path(event), :method => :get) if event.allow_teams? %>
              <%= button_to 'Show', event_path(event), :method => :get %>
              <%= button_to 'Edit', edit_event_path(event), :method => :get %>
              <%= button_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
            </td>
          </tr>
        <% end %>
        </table>
      </div>
      <%= link_to 'New Event', new_event_path %>
    </div>
  </div>
</div>
