<div class='index spaced-blurb rounded-blurb'>
  <h1>Listing events</h1>

  <table class='index-table'>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Location</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Actions</th>
    </tr>

  <% @events.each do |event| %>
    <tr>
      <td class='index-attr'><%= image_tag image_event_path(event), :style => 'float:left; width: 100px; height: 100px;' %></td>
      <td class='index-attr'><%= event.name %></td>
      <td class='index-attr'><%= event.location %></td>
      <td class='index-attr'><%= event.start_time %></td>
      <td class='index-attr'><%= event.end_time %></td>
      <td class='action-buttons'>
      <%= button_to('Users', users_event_path(event), :method => :get) if event.allow_signup? %>
      <%= button_to('Teams', event_teams_path(event), :method => :get) if event.allow_teams? %>
      <%= button_to 'Show', event_path(event), :method => :get %>
      <%= button_to 'Edit', edit_event_path(event), :method => :get %>
      <%= button_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Event', new_event_path %>
</div>
