<div id='event-signup' class="rounded-blurb spaced-blurb">
  <h1>Registration</h1>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this event from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <table class='event-table auto-margin'>
      <tr>
        <td class='event-label'>Name:</td>
        <td class='event-attr'><%= @event.name %></td>
      </tr>
      <tr>
        <td class='event-label'>Location:</td>
        <td class='event-attr'><%= @event.location || "TBD" %></td>
      </tr>
      <tr>
        <td class='event-label'>Start Time:</td>
        <td class='event-attr'><%= @event.start_time || "TBD" %></td>
      </tr>
      <tr>
        <td class='event-label'>End Time:</td>
        <td class='event-attr'><%= @event.end_time || "TBD" %></td>
      </tr>
      <tr>
        <td class='event-label'>Duration:</td>
        <td class='event-attr'><%= duration(@event) || "TBD" %></td>
      </tr>
    </table>
    <br />
  <%= form_for(@user, :url => register_event_path(@event)) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email %>
    </div>
    <div class="actions">
      <%= f.submit 'Register' %>
    </div>
  <% end %>

  <div class='full-event-image center'>
    <%= image_tag image_event_path(@event) %>
  </div>
</div>
