<div class="page container">
  <div class="row">
    <div class="twelvecol last">
      <p class="page-title">Sponsors</p>
      <p class="page-text">Below is a list of sponsors who help fund and promote our initiatives:</p>
      <div class="center-text">
        <%= link_to(image_tag("sponsors/rutgers.jpg"), 'http://www.rutgers.edu') %>
        <%= link_to(image_tag("sponsors/nyu.jpg"), 'http://www.nyu.edu') %>
        <%= link_to(image_tag("sponsors/shu.jpg"), 'http://law.shu.edu') %>
        <%= link_to(image_tag("sponsors/morpheusmedia.jpg"), 'http://www.morpheusmedia.com') %>
        <%= link_to(image_tag("sponsors/claudia.jpg"), 'http://www.charitysmith.org/endeavors/cthomas/index.html') %>
        <br />
        <%= link_to(image_tag("sponsors/afa.gif"), 'http://www.footdoctorsnj.com') %>
        <%= link_to(image_tag("sponsors/youngs.jpg"), 'http://www.shopyoungsappliance.com') %>
        <%= link_to(image_tag("sponsors/fullhouse.jpg"), 'http://www.fullhouseprinting.com') %>
        <%= link_to(image_tag("sponsors/rxr.jpg"), 'http://www.rxrrealty.com') %>
        <%= link_to(image_tag("sponsors/carlos.jpg"), 'http://www.carlosbakery.com') %>
      </div>
    </div>
  </div>
</div>
