<!DOCTYPE html>
<html>
<head>
  <title>Walk The Walk</title>
  <%= stylesheet_link_tag 'reset', '978', 'style' %>
  <%= javascript_include_tag 'jquery-1.4.2.min' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div class="layout-978">
  <div class="row">
    <div class="col12">
      <div id="header"></div>
    </div>
    <div class="row-end">&nbsp;</div>
  </div>
  <div id="content" class="rounded-blurb">
    <div class="row">
      <div class="col2">
        <%= render_menu %>
      </div>
      <div class="col10">
        <% unless notice.blank? %>
          <div class="spaced-blurb rounded-blurb center">
            <p id="notice"><%= notice %></p>
          </div>
        <% end %>
        <%= yield %>
      </div>
      <div class="row-end">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col12">
        <div id="footer" class="center">
          <span>Copyright Walk The Walk &copy; 2011</span>
          <br />
          <span>All Rights Reserved.</span>
        </div>
      </div>
      <div class="row-end">&nbsp;</div>
    </div>
  </div>
</div>
</body>
</html>
